body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #fff;
  color: #333;
}


/* Menu */
nav {
  background: #999;
  text-align: center;
  padding: 10px;
  color: #fff;
}

.titulo-descripcion{
  margin-left: 50px;
  margin-top: 80px;
}

.contenedor-inputs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 850px;
    margin: 50px;
}

.contenedor-inputs input{
    border: 1px solid black;
    border-radius: 5px;
}

.add-person{
  display: flex;
  margin-left: 50px;
  gap: 10px;
  padding-top: 3em;
}

.add-person h3{
  margin-top:1em;
}
.add-person img{
  margin-top: 5px;
  width: 45px;
  height: 45px;
}


.inscribirse{
  padding: 4em 0em 4.85em 0;
  margin-left: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.inscribirse h4{
  border: 1px solid black;
  color: white;
  background-color: black;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

.inscribirse button{
    background-color: black;
  color: white;
  padding: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px; 
    
}