
body {
    font-family: 'Inter', sans-serif;
    background-color: #A7D8FF;
    margin: 0;
    padding: 0;
 
    font-size: 16px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

}


.main-content {
    flex-grow: 1;

    width: 100%;
    margin-top: 2em;

}


.perfil-docente {
    max-width: 53.5em;
    margin: 1em auto;

    padding: 1em;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.perfil-docente h1 {
    text-align: center;
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.docente-info {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}


#perfil-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

#nombre-docente {
    font-size: 1.5em;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 0.5rem;
}

#titulo-docente {
    font-size: 1em;
    color: #7f8c8d;
    margin-bottom: 0.5em;
}

#rating-docente {
    font-size: 1em;
    color: #f39c12;
}

.btn-volver {
    background-color: #007bff;
    color: white;
    padding: 0.6em 1.2em;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 1em;

    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.btn-volver:hover {
    background-color: #2980b9;
}

@media (min-width: 768px) {

    .perfil-docente {
        padding: 40px;
    }

    .perfil-docente h1 {
        font-size: 2.5rem;
    }


    .docente-info {

        text-align: left;
        gap: 30px;

    }

    #perfil-img {
        width: 150px;
        height: 150px;
        margin-bottom: 0;

    }

    .docente-texto-contenedor {

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #nombre-docente {
        font-size: 1.8rem;
    }

    #titulo-docente {
        font-size: 1.2rem;
    }

    .btn-volver {
        margin-left: 0;
        margin-right: 0;
    }
}


footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;

}
