
footer {
    display: flex;
    justify-content: space-around;
    background: #2C3E50;
    color: white;
    padding: 1.25em;
    margin-top: 2em;
    flex-wrap: wrap;
    gap: 1em;
    text-align: left;
}

footer div {
    flex: 1;
    min-width: 15em;
}

footer h3 {
    margin-bottom: 0.5em;
    font-size: 1.1em;
    color: #A7D8FF;
}

footer p:hover {
    color: #00C9A7;
    cursor: pointer;
    transform: translateX(0.5em);
}

footer p {
    margin: 0.3em 0;
    transition: all 0.4s ease;
}

.redes-sociales ul {
    list-style: none;
    padding: 0;
    margin: 0.5em 0 0 0;
}

.redes-sociales li {
    margin: 0.3em 0;
}

.redes-sociales a {
    text-decoration: none;
    color: #f0f0f0;
    display: inline-block;
    transition: all 0.4s ease;

}

.redes-sociales a:hover {
    color: #00C9A7;
    transform: translateX(0.5em);
}